@model Admin.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<br />
@using (Html.BeginForm("Index", "Home", FormMethod.Post)) {
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UsuarioViewModels</legend>
        E-mail
        @Html.TextBoxFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)

        <br />

        Senha:
        @Html.TextBoxFor(model => model.Senha)
        @Html.ValidationMessageFor(model => model.Senha)

        <p>
            <input type="submit" value="Logar" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
