@model IEnumerable<ProjetoGuru.Models.Categoria>

@{
    ViewBag.Title = "Lista de Categorias";
}

<h2>Lista de Categorias</h2>

<p>
    @Html.ActionLink("Nova Categoria", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categoria2.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria2.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CategoriaID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.CategoriaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoriaID })
        </td>
    </tr>
}

</table>
