@model ProjetoGuruSA.Models.Usuario

@{
    ViewBag.Title = "Details";

    if (Session["usuarioID"] == null && Session["usuarioNome"] == null)
    {
        Response.Redirect("../../Home");
    }
}

<h2>Perfil do Usuário</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome
            @Session["usuarioTipo"]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            E-Mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Imagem
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagem)
        </dd>

        <dt>
            Data de Nascimento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            Paypal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaypalToken)
        </dd>

        <dt>
            Tipo de Usuário
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.UsuarioID }) |
    @Html.ActionLink("Página Inicial", "../Home/Index") |
    @Html.ActionLink("Nova Pergunta", "../Pergunta/Create")
</p>
