@model ProjetoGuru.Models.Usuario

@{
    ViewBag.Title = "Perfil do Usuário";
}

<h2>Perfil do Usuário</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            E-Mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
       
        <dt>
            Tipo do Usuário
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioTipo.Tipo)
        </dd>

        <dt>
            Imagem
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagem)
        </dd>

        <dt>
            Data de Nascimento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
           Paypal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaypalToken)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.UsuarioID }) |

    @if((string)Session["usuarioTipo"] == "1"){
        
        @Html.ActionLink("Nova Pergunta", "../Pergunta/Create")
        @ViewBag.Barra;
        @Html.ActionLink("Minhas Perguntas", "../Pergunta/Index")
        
    }
    else if ((string)Session["usuarioTipo"] == "2")
    {
        @Html.ActionLink("Categorias Vinculadas", "../UsuarioCategoria/Index/")
        @ViewBag.Barra;
        @Html.ActionLink("Responder Perguntas", "../Pergunta/Index")
    }
</p>
