@model IEnumerable<ProjetoGuru.Models.Resposta>

@{
    ViewBag.Title = "Perguntas Respondidas";
}

<h2>Perguntas Respondidas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Imagem
        </th>
        <th>
            E-Mail
        </th>
        <th>
            Texto
        </th>
        <th>
            Data
        </th>
        <th>
            Avaliação
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pergunta.Imagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Texto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avaliacao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RespostaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RespostaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RespostaID })
        </td>
    </tr>
}

</table>
