@model ProjetoGuru.Models.Pergunta

@{
    ViewBag.Title = "Deletar pergunta";
}

<h2>Deletar pergunta</h2>

<h3>Tem certeza que deseja deletar esta pergunta?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Nome)
        </dd>

        <dt>
            Texto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>

        <dt>
            Status
        </dt>

        @if (Model.Status == "A")
        {
            <dd>
                Ativa
            </dd>
        }
        else if (Model.Status == "R")
        {
            <dd>
                Respondida
            </dd>
        }

        <dt>
            Data
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Detelar" class="btn btn-default" /> |
            @Html.ActionLink("Lista de Perguntas", "Index")
        </div>
    }
</div>
