@model IEnumerable<ProjetoGuru.Models.Pergunta>

@{
    ViewBag.Title = "Perguntas";
}

<h2>Lista de Perguntas</h2>

<p>
    @Html.ActionLink("Nova Pergunta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Categoria
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Texto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Texto)
        </td>

        @if (item.Status == "A")
        {
            <td>Ativa</td>
        }
        
        <td>
            @Html.DisplayFor(modelItem => item.Data)            
        </td>

        <td>
            @if ((string)Session["usuarioTipo"] == "1") {
                
                @Html.ActionLink("Editar", "Edit", new { id=item.PerguntaID })
                @ViewBag.Barra;
                @Html.ActionLink("Detalhes", "Details", new { id=item.PerguntaID })
                @ViewBag.Barra;
                @Html.ActionLink("Deletar", "Delete", new { id=item.PerguntaID })
           }
        </td>
    </tr>
}

</table>
