@model List<ProjetoGuru.Models.Pergunta>

@{
    ViewBag.Title = "Perguntas";
}

<h2>Lista de Perguntas</h2>

<p>
    @Html.ActionLink("Nova Pergunta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Categoria
        </th>
        <th>
            E-Mail
        </th>
        <th>
            Imagem
        </th>
        <th>
            Texto
        </th>
        <th>
            Status
        </th>
        <th>
            Data
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    string sessao = Convert.ToString(Session["usuarioID"]);
    string idUsuario = Convert.ToString(item.UsuarioID);

   if (idUsuario == sessao || (string)Session["usuarioTipo"] != "1") {
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Texto)
        </td>

        @if (item.Status == "A")
        {
            <td>Ativa</td>
        }
        else if (item.Status == "R")
        {
            <td>Respondida</td>
        }
       
        <td>
            @Html.DisplayFor(modelItem => item.Data)            
        </td>

        <td>
            @if ((string)Session["usuarioTipo"] == "1" || (string)Session["usuarioTipo"] == "3")
            {
                @Html.ActionLink("Editar", "Edit", new { id = item.PerguntaID })
                @ViewBag.Barra;
                @Html.ActionLink("Detalhes", "Details", new { id = item.PerguntaID })
                @ViewBag.Barra;
                @Html.ActionLink("Deletar", "Delete", new { id = item.PerguntaID })
            }
            else if ((string)Session["usuarioTipo"] == "2")
            {
                @Html.ActionLink("Detalhes", "Details", new { id = item.PerguntaID })
                @ViewBag.Barra;
                @Html.ActionLink("Responder", "../Resposta/Create", new { id = item.PerguntaID })
            }
        </td>  
    </tr>
    } 
}

</table>